# Common Rails defaults
/.bundle
/db/*.sqlite3*
/log/*.log
/tmp
/vendor/bundle
	
# Ignore uploads
public/system/*

# Ignore private files
config/database.yml
config/site.yml

# Ignore different dev tools
# these should be in individual developers global gitignore so its not a per-project setting when they use different tools
.idea/*
/nbproject/private/
*~

# Ignore coverage reports
/coverage*

# Ignore test detritus
chromedriver.log

# Ignore vim swp files
*.swp

config/braintree.yml

